Source: rust-pyo3-ffi
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.62-~~) <!nocheck>,
 librust-pyo3-build-config-0.20.2+default-dev <!nocheck>,
 librust-pyo3-build-config-0.20.2+resolve-config-dev <!nocheck>,
 libpython3-all-dev <!nocheck>,
 python3-all-dev <!nocheck>
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
XSBC-Pexip-Original-Uploaders:
 Jelmer Vernooĳ <jelmer@debian.org>
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/pyo3-ffi]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/pyo3-ffi
Homepage: https://github.com/pyo3/pyo3
X-Cargo-Crate: pyo3-ffi
Rules-Requires-Root: no
XS-Pexip-Upstream: http://ftp.debian.org/debian/ trixie

Package: librust-pyo3-ffi-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-libc-0.2+default-dev (>= 0.2.62-~~),
 librust-pyo3-build-config-0.20.2+abi3-dev,
 librust-pyo3-build-config-0.20.2+abi3-py310-dev,
 librust-pyo3-build-config-0.20.2+abi3-py311-dev,
 librust-pyo3-build-config-0.20.2+abi3-py312-dev,
 librust-pyo3-build-config-0.20.2+abi3-py37-dev,
 librust-pyo3-build-config-0.20.2+abi3-py38-dev,
 librust-pyo3-build-config-0.20.2+abi3-py39-dev,
 librust-pyo3-build-config-0.20.2+default-dev,
 librust-pyo3-build-config-0.20.2+extension-module-dev,
 librust-pyo3-build-config-0.20.2+python3-dll-a-dev,
 librust-pyo3-build-config-0.20.2+resolve-config-dev,
 libpython3-all-dev,
 python3.12-dev
Provides:
 librust-pyo3-ffi+abi3-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py311-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py312-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-ffi+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-ffi+default-dev (= ${binary:Version}),
 librust-pyo3-ffi+extension-module-dev (= ${binary:Version}),
 librust-pyo3-ffi+generate-import-lib-dev (= ${binary:Version}),
 librust-pyo3-ffi-0-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py311-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py312-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+default-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+extension-module-dev (= ${binary:Version}),
 librust-pyo3-ffi-0+generate-import-lib-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py311-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py312-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+default-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+extension-module-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20+generate-import-lib-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py310-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py311-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py312-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py37-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py38-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+abi3-py39-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+default-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+extension-module-dev (= ${binary:Version}),
 librust-pyo3-ffi-0.20.2+generate-import-lib-dev (= ${binary:Version})
Description: Python-API bindings for the PyO3 ecosystem - Rust source code
 Source code for Debianized Rust crate "pyo3-ffi"
